{{!-- Header of the webpage with the burger gif --}}
<h1>Eat-Da-Burger</h1>
<img class="center" src="../images/burger-dribble4.gif" alt="Burger gif that opens and reconstructs the burger">

{{!-- container that holds form to add a new burger and burgers added and eaten  --}}
<div class="container">
    <div class="row create-form">
        <div class="col-sm-12">
            <form>
                <h2>Add a Burger</h2>
                <div class="form-group">
                    <label id="burger-name" for="burger">Burger Name:</label>
                    <input type="text" id="burger" name="name">
                    <button id="burger-add" type="submit">Add Burger</button>
                </div>
            </form>
        </div>
    </div>
    {{!-- after burger is created, added here to be eaten --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <h2>Enjoy me fresh!</h2>
                <hr class="my-4">
                <ul class="burgers-list">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        {{!-- once burger it is eaten it is added here --}}
        <div class="col-sm-6">
            <div class="jumbotron">
                <h2>That was delicious!</h2>
                <hr class="my-4">
                <ul class="burgers-list">
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</div>