<h1>Eat-Da-Burger</h1>
<img class="center" src="../images/burger-dribble4.gif" alt="Burger gif that opens and reconstructs the burger">


<div class="container">
    <form class="create-form">
<h2>Add a Burger</h2>
        <div class="form-group">
            <label id="burger-name" for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>


        <button type="submit">Add Burger</button>
    </form>
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <h2>Enjoy me fresh!</h2>
                <hr class="my-4">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>




        <div class="col-sm-6">
            <div class="jumbotron">
                <h2>Another one...?</h2>
                <hr class="my-4">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</div>